@mixin button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--btn-height);
	width: max-content;
	padding: 0 var(--space-2);
	color: var(--color-7);
	border-radius: var(--radius-1);
	font-weight: 500;
	transition: 0.2s;
	&:active {
		transform: scale(0.9);
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		transform: none !important;
	}
}

.button_primary {
	background-color: var(--color-1);
	@include button;
}
.button_secondary {
	background-color: var(--color-2);
	@include button;
}
