.product_card {
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
	&__content {
		height: 22.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-image: linear-gradient(to right, #434343 0%, black 100%);
		&:hover {
			.product_card__content__card {
				transform: rotateY(30deg) rotateX(30deg);
			}
			.product_card__content__figure {
				transform: scale(1.2);
			}
		}
		&__card,
		&__figure {
			transition: 0.5s;
		}
		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 125px;
			padding: var(--space-1);
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(40, 26, 23, 0.64);
			backdrop-filter: blur(12px);
			&__item {
				display: grid;
				gap: var(--space-2);
				&__type {
					font-weight: 500;
					font-size: 0.75rem;
					color: var(--color-1);
					text-transform: uppercase;
				}
				&__text {
					display: flex;
					align-items: center;
					text-align: right;
					gap: 0.3rem;
					color: var(--color-2);
				}
				&__price {
					font-size: 0.75rem;
					text-align: right;
					color: var(--color-2);
					text-transform: uppercase;
				}
				&__series {
					color: var(--color-3);
				}
			}
		}
		& > span {
			overflow: initial !important;
		}
	}
	&__button {
		position: absolute;
		bottom: 0;
	}
}
