@import '../mixins/mixins';
@import '../mixins/responsive';

.checkout {
	@include page-container;
	display: grid;
	grid-gap: var(--space-1);
	margin-top: var(--space-5);
	margin-bottom: var(--space-5);
	@include responsive {
		grid-template-columns: 2fr 1fr;
	}
	&__section {
		border-radius: var(--radius-1);
		background-color: var(--color-2);
		padding: var(--space-5);
		height: max-content;
		display: grid;
		grid-gap: var(--space-1);
		&__item {
			&__text {
			}
			&__price {
			}
		}
		&__button {
			width: 100%;
		}
		&__img {
			display: flex;
			justify-content: center;
			padding: 0 10%;
		}
		&__message {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			&__text {
				font-weight: 400;
				color: var(--color-8);
			}
		}
	}
}

.success {
	@include page-container;
	margin-top: var(--space-5);
	margin-bottom: var(--space-5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__text {
		text-align: center;
		font-weight: 400;
		font-size: var(--font-size-2);
		color: var(--color-7);
	}
}
