html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
	background-color: var(--color-5);
}

:root {
	/* Sizes */
	--space-1: 1.5rem;
	--space-2: 0.75rem;
	--space-3: 4rem;
	--space-4: 2rem;
	--radius-1: 0.5rem;
	--btn-height: 2.5rem;
	--page-max-width: calc(1392px + calc(var(--space-3) * 2));
	/* Colors */
	--color-1: #42ffd2;
	--color-2: #ffffff;
	--color-3: #cccccc;
	--color-4: #000000;
	--color-5: #eeeeee;
	--color-6: #ff4242;
	--color-7: #111111;
	--color-8: #555555;
	--background-blur-color: rgba(40, 26, 23, 0.64);
	/* Properties */
	--background-blur-backdrop-filter: blur(12px);
	/* Fonts */
	--font-size-1: 0.75rem;
}

::selection {
	background: var(--color-1);
	color: var(--color-4);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-7);
}

* {
	box-sizing: border-box;
}

label {
	-webkit-tap-highlight-color: transparent;
}

button {
	user-select: none;
	cursor: pointer;
	border: none;
	font-size: inherit;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

a:focus-visible,
button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 3px var(--color-6);
}
